<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <h3 class="text-3xl mb-3">Create User</h3>
        <form method="post" action="/create">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 boreder-zinc-800 outline-none " type="text " placeholder="username" name="username">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 boreder-zinc-800 outline-none " type="email " placeholder="email" name="email">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 boreder-zinc-800 outline-none " type="password " placeholder="password" name="password">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 boreder-zinc-800 outline-none " type="number " placeholder="age" name="age">
            <input class="px-45 py-2 rounded-md bg-blue-500" type="submit" value="Create User" >
        </form>
    </div>

</body>
</html>