<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheets" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-red">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Update User</h1>
        <form action="/update/<%=user._id%>" method="post">
            <input class="px-5 py-3 border-zinc-800 outline-none rounded-lg type="text" name="name" placeholder="enter ur name"value="<%=user.name%>>
            <input class="px-5 py-3 border-zinc-800 outline-none rounded-lg type="text" name="email" placeholder="enter ur email" value="<%=user.email%>">
            <input class="px-5 py-3 border-zinc-800 outline-none rounded-lg type="text" name="no" placeholder="enter ur no"value="<%=user.no%>>
            <input class="px-5 py-2 bg-yellow-500 text-black rounded-lg ml-3" type="submit" value="Update user">
        </form>
    </div>
</body>
</html>